body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------- */
/* --------Reset--------- */
/* ---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

a{
  color: unset;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* ---------------------- */
/* --------Media--------- */
/* ---------------------- */

.message {
  display: none;
}

@media (max-width: 1000px){
  body *:not(.message){
    display:none;
  }

  body .message{
    display: block;
    text-align: center;
  }
}

  @media ( min-width: 1600px ){
    body *:not(.message){
      display:none;
    }
  
    body .message{
      display: block;
      text-align: center;
    }
  }


